{% extends 'base.html' %}
{% block title %}Best Cafe in Cracow{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container">
  <h1 class="display-4"> ⭐️⭐️⭐️⭐️⭐️ Best Cafes ☕️ in Cracow ⭐️⭐️⭐️⭐️⭐️</h1>
  <p class="lead">Looking for the best Cafe in Cracow?</p>
  <hr class="my-4">
  <p>You've found the right place! Checkout my collection of Cafes in Cracow, with google rating and price range.</p>
  <a class="btn btn-warning btn-lg" href="./cafes" role="button">Show Me!</a>
</div>
    </div>
{% endblock %}
